# Q1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
    
You need to find following details:
    
A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [1]:
#importing the required library
from selenium import webdriver
import pandas as pd
import time

In [2]:
#Calling the Web Driver and loading the target webpage
driver = webdriver.Chrome(r"C://Users//Aditya//Downloads//chromedriver.exe")
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")
driver.maximize_window() #Maximize the Window

In [3]:
#Creating the list of Top 30 Most Videos with Details from the webpage
details=[]

for i in driver.find_elements_by_xpath("//table [@class = 'wikitable sortable jquery-tablesorter']/tbody/tr/td"):
        details.append(i.text)
        
details=details[:180] #As there is 30 videos list and 6 attributes. Storing the required details

driver.close()

Rank = [] #list for storing the Rank of the video.
Name = [] #list for storing the Name of the video.
Artist = [] #list for storing the Artist of the video.
Views = [] #list for storing the Views of the video.
Upload_date = [] #list for storing the Uploaded date of the video.

i= 0 

while i < len(details):
    Rank.append(details[i])
    i+=1
    Name.append(details[i])
    i+=1
    Artist.append(details[i])
    i+=1
    Views.append(details[i])
    i+=1
    Upload_date.append(details[i])
    i+=2

In [4]:
#Creating DataFrame
Most_viewed_Videos = pd.DataFrame({"Rank" : Rank,
                          "Name" : Name, 
                          "Artist" : Artist,
                          "Upload date" : Upload_date,
                          "Views(in Million)" : Views})

Most_viewed_Videos

,Rank,Name,Artist,Upload date,Views(in Million)
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",8.50
1,2.,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.33
2,3.,"""Shape of You""[25]",Ed Sheeran,"January 30, 2017",5.30
3,4.,"""Johny Johny Yes Papa""[26]",LooLoo Kids,"October 8, 2016",5.27
4,5.,"""See You Again""[27]",Wiz Khalifa,"April 6, 2015",5.09
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,"January 31, 2012",4.43
6,7.,"""Uptown Funk""[31]",Mark Ronson,"November 19, 2014",4.17
7,8.,"""Gangnam Style""[32]",Psy,"July 15, 2012",4.06
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[34]",Miroshka TV,"February 27, 2018",4.01
9,10.,"""Bath Song""[35]",Cocomelon – Nursery Rhymes,"May 2, 2018",3.99
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",3.81
11,12.,"""Sugar""[37]",Maroon 5,"January 14, 2015",3.45
12,13.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.43
13,14.,"""Roar""[39]",Katy Perry,"September 5, 2013",3.34
14,15.,"""Dame Tu Cosita""[40]",El Chombo,"April 5, 2018",3.30
15,16.,"""Counting Stars""[41]",OneRepublic,"May 31, 2013",3.28
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,"October 7, 2014",3.25
17,18.,"""Dark Horse""[43]",Katy Perry,"February 20, 2014",3.06
18,19.,"""Faded""[44]",Alan Walker,"December 3, 2015",3.05
19,20.,"""Shake It Off""[45]",Taylor Swift,"August 18, 2014",3.05
20,21.,"""Lean On""[46]",Major Lazer Official,"March 22, 2015",3.03
21,22.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.02
22,23.,"""Girls Like You""[48]",Maroon 5,"May 31, 2018",3.02
23,24.,"""Let Her Go""[49]",Passenger,"July 25, 2012",2.98
24,25.,"""Wheels on the Bus""[50]",Cocomelon – Nursery Rhymes,"May 24, 2018",2.94
25,26.,"""Mi Gente""[51]",J Balvin,"June 29, 2017",2.91
26,27.,"""Perfect""[52]",Ed Sheeran,"November 9, 2017",2.83
27,28.,"""Hello""[53]",Adele,"October 22, 2015",2.83
28,29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,"June 4, 2010",2.81
29,30.,"""Axel F""[55]",Crazy Frog,"June 16, 2009",2.78

# Q2. Scrape the details team India’s international fixtures from bcci.tv.

Url = https://www.bcci.tv/
    
You need to find following details:
    
A) Match title (i.e. 1st ODI)

B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [5]:
#Calling the Web Driver and loading the target webpage
driver = webdriver.Chrome(r"C://Users//Aditya//Downloads//chromedriver.exe")
driver.get("https://www.bcci.tv/")
driver.maximize_window() #Maximize the Window

btn = driver.find_element_by_xpath("//div[@class = 'navigation__drop-down drop-down drop-down--reveal-on-hover']/div/ul/li/a")
driver.get(btn.get_attribute("href"))

In [6]:
Match_title = [] #Creating a List for storing Match titles like Test, ODI or T20I
Series = [] #Creating a List for storing the name of the Series 
Place = [] #Creating a List for storing Venue of the Match.
Date = [] #Creating a List for storing the date of the Match.
Time = [] #Creating a List for storing the time of the Match.
datetime = [] #Creating a List of Date and Time got from scrapping
    
#Scraping all details for each list.
for i in driver.find_elements_by_xpath("//div [@class = 'fixture__format-strip']/ span [@class = 'u-unskewed-text fixture__format']"):
    Match_title.append(i.text)
       
for i in driver.find_elements_by_xpath("//div [@class = 'fixture__format-strip']/ span [@class = 'u-unskewed-text fixture__tournament-label u-truncated']"):
    Series.append(i.text)
    
for i in driver.find_elements_by_xpath("//div [@class = 'fixture__description u-unskewed-text']/p/span"):
    Place.append(i.text)
    
for i in driver.find_elements_by_xpath("//div [@class = 'fixture__datetime desktop-only']"):
    datetime.append(i.text.replace('\n',' '))
    
    
driver.close()   
    
#Spliting the Date and Time. 
Date = [i.split(' ',3)[:3]for i in datetime]
Date = [' '.join(i) for i in Date]
Time = [i.split(' ',3)[-1]for i in datetime]

In [7]:
#Creating the DataFrame
International_Fixtures = pd.DataFrame({'Match title' : Match_title , 
                                            'Series' : Series , 
                                             'Place' : Place, 
                                              'Date' : Date ,
                                              'Time' : Time})

International_Fixtures

,Match title,Series,Place,Date,Time
0,TEST,ICC WORLD TEST CHAMPIONSHIP FINAL,"The Ageas Bowl, Southampton",Friday 18 JUNE,15:30 IST
1,TEST,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",Wednesday 04 AUGUST,15:30 IST
2,TEST,ENGLAND V INDIA 2021,"Lord's, London",Thursday 12 AUGUST,15:30 IST
3,TEST,ENGLAND V INDIA 2021,"Headingley, Leeds",Wednesday 25 AUGUST,15:30 IST
4,TEST,ENGLAND V INDIA 2021,"The Oval, London",Thursday 02 SEPTEMBER,15:30 IST
5,TEST,ENGLAND V INDIA 2021,"Old Trafford, Manchester",Friday 10 SEPTEMBER,15:30 IST

# Q3. Scrape the details of selenium exception from guru99.com.

Url = https://www.guru99.com/
    
You need to find following details:
    
A) Name

B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [8]:
#Calling the Web Driver and loading the target webpage
driver = webdriver.Chrome(r"C://Users//Aditya//Downloads//chromedriver.exe")
driver.get("https://www.guru99.com/")
driver.maximize_window() #Maximize the Window

href = [] #Creating a variable to collect the href details of Selenium.
for i in driver.find_elements_by_xpath("//li [@class = 'fa fa-chevron-circle-right']/a"):
    if i.text == 'Selenium':
        href.append(i.get_attribute('href'))
        
driver.get(href[0])

tutorial = driver.find_element_by_xpath("//td [@class = 'responsivetable']/a [@title = 'Selenium Exception Handling (Common Exceptions List)']")
tutorial.click()

time.sleep(3)

details = [] #Creating a List of Exception Handling and Description details.
    
#Scraping the Details of Name and Description Note and storing it in the details.
for i in driver.find_elements_by_xpath("//table [@class = 'table table-striped']/tbody"):
    details.append(i.text)
    
driver.close()

In [9]:
#Data extracting from scrapped data
details =  [i.split('\n') for i in details]
    
details = details[0]
details.remove('Exception name Description')
    
Name =  [i.split(' ',1)[0] for i in details]
Description = [i.split(' ',1)[-1] for i in details]

In [10]:
#Creating the DataFrame
pd.set_option("display.max_colwidth",None)
exception_handling = pd.DataFrame({'Name' : Name, 'Description' : Description})
exception_handling

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.
1,ElementNotSelectableException,"This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact."
2,NoSuchElementException,This Exception occurs if an element could not be found.
3,NoSuchFrameException,This Exception occurs if the frame target to be switched to does not exist.
4,NoAlertPresentException,This Exception occurs when you switch to no presented alert.
5,NoSuchWindowException,This Exception occurs if the window target to be switch does not exist.
6,StaleElementReferenceException,This Selenium exception occurs happens when the web element is detached from the current DOM.
7,SessionNotFoundException,The WebDriver is acting after you quit the browser.
8,TimeoutException,"Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn't found in the specified time."
9,WebDriverException,This Exception takes place when the WebDriver is acting right after you close the browser.
10,ConnectionClosedException,This type of Exception takes place when there is a disconnection in the driver.
11,ElementClickInterceptedException,The command may not be completed as the element receiving the events is concealing the element which was requested clicked.
12,ElementNotInteractableException,"This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element."
13,ErrorInResponseException,This happens while interacting with the Firefox extension or the remote driver server.
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if the server returns an error without a stack trace.
15,ImeActivationFailedException,This expectation will occur when IME engine activation has failed.
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.
18,InvalidArgumentException,It occurs when an argument does not belong to the expected type.
19,InvalidCookieDomainException,This happens when you try to add a cookie under a different domain instead of current URL.
20,InvalidCoordinatesException,This type of Exception matches an interacting operation that is not valid.
21,InvalidElementStateExceptio,It occurs when command can't be finished when the element is invalid.
22,InvalidSessionIdException,This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.
23,InvalidSwitchToTargetException,This occurs when the frame or window target to be switched does not exist.
24,JavascriptException,This issue occurs while executing JavaScript given by the user.
25,JsonException,It occurs when you afford to get the session when the session is not created.
26,NoSuchAttributeException,This kind of Exception occurs when the attribute of an element could not be found.
27,MoveTargetOutOfBoundsException,"It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document."
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.
30,NotFoundException,This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.
31,RemoteDriverServerException,This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be successfully created.
34,UnableToSetCookieException,This occurs if a driver is unable to set a cookie.
35,UnexpectedTagNameException,Happens if a support class did not get a web element as expected.
36,UnhandledAlertException,"This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation."
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an unexpected alert.
38,UnknownMethodException,This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.
39,UnreachableBrowserException,This Exception occurs only when the browser is not able to be opened or crashed because of some reason.
40,UnsupportedCommandException,This occurs when remote WebDriver does n't send valid commands as expected.

# Q4. Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/
    
You have to find following details:
    
A) Rank

B) State

C) GSDP(18-19)

D) GSDP(17-18)

E) Share(2017)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [11]:
#Calling the Web Driver and loading the URL and target webpage
driver = webdriver.Chrome(r"C://Users//Aditya//Downloads//chromedriver.exe")
driver.get("http://statisticstimes.com/")
driver.maximize_window() #Maximize the Window

time.sleep(3)

href = [] #Declaring the list href to scrap all the href details
for i in driver.find_elements_by_xpath("//div [@class = 'dropdown']/div [@class = 'dropdown-content']/a"):
    href.append(i.get_attribute('href'))
        
driver.get(href[4]) #opening the link of GDP of India.
    
href_1 = [] #Declaring the list href to scrap all the href details of GDP of Indian states.
for i in driver.find_elements_by_xpath("//div [@style = 'float:left;background-color:seashell;width:400px;height:800px;']/ul [@style = 'list-style-type:none;margin-left:20px;']/li/a"):
    if i.text == '» GDP of Indian states':
        href_1.append(i.get_attribute('href'))
    
driver.get(href_1[0]) #opening the link of GDP of Indian states.

time.sleep(3)
    
#Creating Lists for required attributes
Rank = []
State = [] 
GSDP20 = [] 
GSDP19 = []
Share = [] 
GDP = [] 

details = [] #scraping all details of all the atributes

for i in driver.find_elements_by_xpath("//tbody /tr [@role = 'row']/td"):
    details.append(i.text)
    
driver.close() #Exiting the Driver post collecting all the details.

#Extracting data for each attribute from the details list
details = details[:264] #Sorting the list with the required details.

j= 0
while j < len(details): 
    Rank.append(details[j])
    j+=1
    State.append(details[j])
    j+=1
    GSDP20.append(details[j])
    j+=1
    GSDP19.append(details[j])
    j+=1
    Share.append(details[j])
    j+=1
    GDP.append(details[j])
    j+=3

In [12]:
#Creating a DataFrame
GDP_India = pd.DataFrame({"Rank" : Rank,
                          "State" : State,
                          "GSDP(19-20)" : GSDP20,
                          "GSDP(18-19)" : GSDP19,
                          "Share(2018)" : Share,
                          "GDP($ billion)": GDP})

GDP_India

,Rank,State,GSDP(19-20),GSDP(18-19),Share(2018),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.88%,398.145
1,2,Tamil Nadu,"1,845,853","1,630,208",8.59%,246.529
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.35%,239.656
3,4,Gujarat,-,"1,502,899",7.92%,227.276
4,5,Karnataka,"1,631,977","1,493,127",7.87%,225.798
5,6,West Bengal,"1,253,832","1,089,898",5.75%,164.820
6,7,Rajasthan,"1,020,989","942,586",4.97%,142.543
7,8,Andhra Pradesh,"972,782","862,957",4.55%,130.501
8,9,Telangana,"969,604","861,031",4.54%,130.210
9,10,Madhya Pradesh,"906,672","809,592",4.27%,122.431
10,11,Kerala,-,"781,653",4.12%,118.206
11,12,Delhi,"856,112","774,870",4.08%,117.180
12,13,Haryana,"831,610","734,163",3.87%,111.024
13,14,Bihar,"611,804","530,363",2.80%,80.204
14,15,Punjab,"574,760","526,376",2.77%,79.601
15,16,Odisha,"521,275","487,805",2.57%,73.768
16,17,Assam,-,"315,881",1.67%,47.769
17,18,Chhattisgarh,"329,180","304,063",1.60%,45.982
18,19,Jharkhand,"328,598","297,204",1.57%,44.945
19,20,Uttarakhand,-,"245,895",1.30%,37.186
20,21,Jammu & Kashmir,-,"155,956",0.82%,23.584
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.265
22,23,Goa,"80,449","73,170",0.39%,11.065
23,24,Tripura,"55,984","49,845",0.26%,7.538
24,25,Chandigarh,-,"42,114",0.22%,6.369
25,26,Puducherry,"38,253","34,433",0.18%,5.207
26,27,Meghalaya,"36,572","33,481",0.18%,5.063
27,28,Sikkim,"32,496","28,723",0.15%,4.344
28,29,Manipur,"31,790","27,870",0.15%,4.215
29,30,Nagaland,-,"27,283",0.14%,4.126
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.721
31,32,Mizoram,"26,503","22,287",0.12%,3.370
32,33,Andaman & Nicobar Islands,-,-,-,-

# Q5. Scrape the details of trending repositories on Github.com.

Url = https://github.com/
    
You have to find the following details:
    
A) Repository title

B) Repository description

C) Contributors count

D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [13]:
#Calling the Web Driver and loading the URL and target webpage
driver = webdriver.Chrome(r"C://Users//Aditya//Downloads//chromedriver.exe")
driver.get("https://github.com/")
driver.maximize_window() #Maximize the Window

button = driver.find_element_by_xpath("//ul [@class= 'list-style-none mb-3']/li [@class = 'edge-item-fix']/a [@data-ga-click = '(Logged out) Header, go to Trending']")
driver.get(button.get_attribute('href'))

time.sleep(3)
    
#Storing all the links of repositories    
href = [] 
for i in driver.find_elements_by_xpath("//h1 [@class = 'h3 lh-condensed']/a"):
    href.append(i.get_attribute('href'))
        
driver.close()
    
#Creating lists for required attributes for scrapping
Repository_title = [] 
Repository_description = [] 
Contributors_count = []
Language_used = [] 
    
#Opening each link saved in href and scrap the details
for i in href:
    driver = webdriver.Chrome(r"C://Users//Aditya//Downloads//chromedriver.exe")
    driver.get(i)
    driver.maximize_window()
    
    time.sleep(2) 
        
    #Scraping the Repository_title
    tit = driver.find_element_by_xpath("//h1 [@class = ' d-flex flex-wrap flex-items-center break-word f3 text-normal']")
    Repository_title.append(tit.text.replace('\n', ' '))
        
    #Scraping the Repository_description.
    try:
        des = driver.find_element_by_xpath("//div [@class = 'BorderGrid-cell']/p [@class = 'f4 mt-3']")
        Repository_description.append(des.text)
    except:
        Repository_description.append("-")
        
    #Scraping the Contributors_count.
    count = [] 
    try:
        for i in driver.find_elements_by_xpath("//h2 [@class = 'h4 mb-3']//span [@class = 'Counter ']"):
            count.append(i.get_attribute('title'))
            Contributors_count.append(count[-1])
    except:
        Contributors_count.append('1')
                
    #Scraping the Language_used.
    lang = []
    for i in driver.find_elements_by_xpath("//ul [@class = 'list-style-none']/li [@class = 'd-inline']//span"):
        lang.append(i.text)
    if (" ".join(lang)) == '':
        Language_used.append('-')
    else:
        Language_used.append(" ".join(lang))
        
    driver.close()

In [14]:
print(len(Repository_title),len(Repository_description),len(Contributors_count),len(Language_used))

25 25 60 25

In [15]:
Contributors_count=Contributors_count[:25]

In [16]:
#Creating the DataFrame
Repository = pd.DataFrame({"Repository title" : Repository_title,
                          "Repository description" : Repository_description,
                          "Contributors count" : Contributors_count,
                          "Language used" : Language_used})

In [17]:
Repository

,Repository title,Repository description,Contributors count,Language used
0,slidevjs / slidev,Presentation Slides for Developers (Public Beta 🎉),21,TypeScript 58.4% Vue 29.6% CSS 5.8% JavaScript 5.6% HTML 0.6%
1,milvus-io / milvus,"An open source embedding vector similarity search engine powered by Faiss, NMSLIB and Annoy",10,Go 43.4% C++ 34.6% Python 16.3% CMake 2.9% Shell 1.7% C 0.6% Other\n0.5% Other 0.5%
2,google / zx,A tool for writing better scripts,14,JavaScript 100.0%
3,donnemartin / system-design-primer,Learn how to design large-scale systems. Prep for the system design interview. Includes Anki flashcards.,20,Python 98.0% Shell 2.0%
4,abuanwar072 / Flutter-Responsive-Admin-Panel-or-Dashboard,Responsive Admin Panel or Dashboard using Flutter,136,Dart 82.7% Ruby 8.3% HTML 4.6% Swift 3.9% Other\n0.5% Other 0.5%
5,CyC2018 / CS-Notes,📚 技术面试必备基础知识、Leetcode、计算机操作系统、计算机网络、系统设计,3,Java 100.0%
6,dromara / shenyu,High-Performance Java API Gateway,6,Java 99.4% Other\n0.6% Other 0.6%
7,youngyangyang04 / leetcode-master,LeetCode 刷题攻略：200道题目详细刷题顺序，共60w字的详细图解，视频难点剖析，50余张思维导图，从此算法学习不再迷茫！🔥🔥 来看看，你会发现相见恨晚！🚀,0,-
8,monk-coder / dust,繁华 不过一掬细沙,109,JavaScript 97.4% Shell 2.6%
9,Light-City / CPlusPlusThings,C++那些事,0,C++ 98.0% Other\n2.0% Other 2.0%
10,ossrs / srs,"SRS is a simple, high efficiency and realtime video server, supports RTMP/WebRTC/HLS/HTTP-FLV/SRT/GB28181.",0,C++ 73.5% HTML 6.8% JavaScript 6.5% ActionScript 5.6% C 3.7% Shell 2.7% Other\n1.2% Other 1.2%
11,ventoy / Ventoy,A new bootable USB solution.,231,C 87.4% Shell 7.1% C++ 1.4% M4 1.1% Roff 0.7% HTML 0.7% Other\n1.6% Other 1.6%
12,jlevy / the-art-of-command-line,"Master the command line, in one page",6,-
13,apache / pulsar,Apache Pulsar - distributed pub-sub messaging system,0,Java 88.8% C++ 6.4% Python 1.8% Shell 0.8% JavaScript 0.7% C 0.6% Other\n0.9% Other 0.9%
14,element-plus / element-plus,🎉 A Vue.js 3.0 UI Library made by Element team,155,Vue 93.1% JavaScript 6.2% Other\n0.7% Other 0.7%
15,PanJiaChen / vue-element-admin,🎉 A magical vue admin https://panjiachen.github.io/vue-element-admin,0,Vue 69.4% JavaScript 26.0% SCSS 4.1% Other\n0.5% Other 0.5%
16,Olshansk / interview,Everything you need to prepare for your technical interview,5,-
17,dogecoin / dogecoin,very currency,0,C++ 67.6% Python 15.1% C 10.5% M4 2.6% Makefile 1.5% HTML 0.7% Other\n2.0% Other 2.0%
18,DopplerHQ / awesome-interview-questions,A curated awesome list of lists of interview questions. Feel free to contribute! 🎓,8,-
19,trimstray / the-book-of-secret-knowledge,"A collection of inspiring lists, manuals, cheatsheets, blogs, hacks, one-liners, cli/web tools and more.",0,-
20,sdmg15 / Best-websites-a-programmer-should-visit,🔗 Some useful websites for programmers.,20,-
21,LeCoupa / awesome-cheatsheets,"👩‍💻👨‍💻 Awesome cheatsheets for popular programming languages, frameworks and development tools. They include everything you should know in one single file.",101,JavaScript 53.0% CSS 18.6% Shell 15.0% PHP 9.2% HTML 2.8% Python 1.4%
22,jwasham / coding-interview-university,A complete computer science study plan to become a software engineer.,38,-
23,yangshun / tech-interview-handbook,💯 Materials to help you rock your next coding interview,41,JavaScript 54.7% Python 27.5% HTML 16.4% CSS 1.4%
24,alacritty / alacritty,"A cross-platform, OpenGL terminal emulator.",0,Rust 97.6% Shell 1.4% Other\n1.0% Other 1.0%

# Q6. Scrape the details of top 100 songs on billiboard.com.

Url = https://www.billboard.com/
    
You have to find the following details:
    
A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [18]:
#Calling the Web Driver and loading the URL and target webpage
driver = webdriver.Chrome(r"C://Users//Aditya//Downloads//chromedriver.exe")
driver.get("https://www.billboard.com/")
driver.maximize_window() #Maximize the Window

href = []
for i in driver.find_elements_by_xpath("//li [@class = 'header__subnav__item']/a"):
    if i.text == 'HOT 100':
        href.append(i.get_attribute('href'))
        
driver.get(href[0]) #Opening the target webpage having Top 100 songs
    
#Scraping all the details for each attributes using List Comprehension
Song_name = [i.text for i in driver.find_elements_by_xpath("// span [@class ='chart-element__information']/span[@ class= 'chart-element__information__song text--truncate color--primary']")]
    
Artist_name = [i.text for i in driver.find_elements_by_xpath("// span [@class ='chart-element__information']/span[@ class= 'chart-element__information__artist text--truncate color--secondary']")]
    
Last_week_rank = [i.text for i in driver.find_elements_by_xpath("//div[@class = 'chart-element__metas chart-element__metas--large display--flex flex--y-center']/div[@class = 'chart-element__meta text--center color--secondary text--last']")]
    
Peak_rank = [i.text for i in driver.find_elements_by_xpath("//div[@class = 'chart-element__metas chart-element__metas--large display--flex flex--y-center']/div[@class = 'chart-element__meta text--center color--secondary text--peak']")]
    
Weeks_on_board = [i.text for i in driver.find_elements_by_xpath("//div[@class = 'chart-element__metas chart-element__metas--large display--flex flex--y-center']/div[@class = 'chart-element__meta text--center color--secondary text--week']")]
    
driver.close()

In [19]:
#Creating a DataFrame
Top_100_songs = pd.DataFrame({"Song name" : Song_name,
                          "Artist name" : Artist_name,
                          "Last week rank" : Last_week_rank,
                          "Peak rank" : Peak_rank,
                          "Weeks on board": Weeks_on_board})

Top_100_songs

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Save Your Tears,The Weeknd & Ariana Grande,6,1,20
1,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),2,1,8
2,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,3,1,6
3,Rapstar,Polo G,1,1,3
4,Levitating,Dua Lipa Featuring DaBaby,5,5,30
...,...,...,...,...,...
95,4 Da Gang,42 Dugg & Roddy Ricch,100,67,4
96,Blame It On You,Jason Aldean,-,97,1
97,Wasted On You,Morgan Wallen,92,9,16
98,Way Less Sad,AJR,-,99,1
99,Clear Da Air,Moneybagg Yo,-,100,1

# Q7. Scrape the details of Data science recruiters from naukri.com.

Url = https://www.naukri.com/
    
You have to find the following details:
    
A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [21]:
#Calling the Web Driver and loading the URL and target webpage
driver = webdriver.Chrome(r"C://Users//Aditya//Downloads//chromedriver.exe")
driver.get("https://www.naukri.com/")
driver.maximize_window() #Maximize the Window

#Landing on the Recruiters page
Recruiters = driver.find_element_by_xpath("//li/a [@title = 'Search Recruiters']") 
href= Recruiters.get_attribute('href')
driver.get(href)
    
#Searching the input key and sending the key as Data Science.
search = driver.find_element_by_xpath("//div[@class= 'inpWrap']/ input [@class = 'sugInp']")
search.send_keys("Data science")
    
#Searching the search Button and Clicking it.
search_btn = driver.find_element_by_xpath("//button[@class = 'fl qsbSrch blueBtn']")
search_btn.click()
    
#Creating a list and storing details of name and Company of Recuriters.
details = [i.text for i in driver.find_elements_by_xpath("//p [@class ='highlightable']//a[@class = 'ellipsis']")]
    
#Creating a list and storing details of href of Recuriters.
href = [i.get_attribute('href') for i in driver.find_elements_by_xpath("//p [@class ='highlightable']//a[@class = 'ellipsis']")]
    
#Creating a list and storing details of Designation of Recuriters.
Designation = [i.text for i in driver.find_elements_by_xpath("//p [@class ='highlightable']//span[@ class= 'ellipsis clr']")]
    
#Creating a list and storing details of skills of Recuriters.
skills = [i.text for i in driver.find_elements_by_xpath("//div [@class ='recInfo']//div[@ class= 'hireSec highlightable']")]

#Creating list for the attributes
Name = []
company = []
hreff = []
Location = []
 
#Extracting data to required attributes from details and href list
j = 0
while j < len(details):
    Name.append(details[j])
    hreff.append(href[j])
    j+=1
    company.append(details[j])
    j+=1
    
#Storing locations of the recruiters in the Location list
for i in hreff:
    driver.get(i)    
    loc = [i.text for i in driver.find_elements_by_xpath("//div [@class ='oh']/a[@ target= '_blank']")]
    loc = loc[-1]
    if loc == 'Others':
        Location.append('-')
    elif loc:
        Location.append(loc)
    else:
        Location.append('-')

driver.quit()

In [22]:
#Creating a DataFrame
Recruiters = pd.DataFrame({"Name" : Name,
                          "Company" : company,
                          "Designation" : Designation,
                          "Location" : Location,
                          "skills": skills})

Recruiters

,Name,Company,Designation,Location,skills
0,Aakash Harit,Data Science Network,HR Manager,Delhi,"Classic ASP Developer, Internet Marketing Professional, Data Science SME, Content Writers, SEO Professional, Revenue Professional"
1,shravan Kumar Gaddam,Shore Infotech India Pvt. Ltd,Company Recruiter,Hyderabad / Secunderabad,".Net, Java, Data Science, Linux Administration, Sql Server Development, Winforms, Wcf Services, Wpf, Telecom Engineering, Technical Management, Software"
2,Talent Acquisition Executive,XenonStack,Recruitment Professional,Chandigarh,"Web Designing, html5, Angular.js, seo, hadoop, Cloud Computing, python, Iphone Development, java, Machine Learning, aws, analytics, linux, puppet"
3,Anik Agrawal,Enerlytics Software Solutions Pvt Ltd,Company Recruiter,Ahmedabad,"Mean Stack, javascript, angularjs, mongodb, Web Services, rest, express, Node.js, Big Data, iot, Data Science, Cloud Computing, saas, Aws"
4,MARSIAN Technologies LLP,MARSIAN Technologies LLP,Company HR,Pune,"Data Science, Artificial Intelligence, Machine Learning, Business Analytics"
5,subhas patel,LibraryXProject,Founder CEO,UK - (london),"Hadoop, Spark, Digital Strategy, Data Architecture, Command Center, Cdp, Dmp, Kafka, Data Science, Data Analysis, Big Data Analytics, Real Time Analysis, SQL"
6,Abhishek - Only Analytics Hiring - India and,Apidel Technologies Division of Transpower,Recruitment Lead Consultant,Vadodara / Baroda,"Analytics, Business Intelligence, Business Analytics, Predictive Modeling, Predictive Analytics, Data Science, Data Analysis, Data Analytics, Big Data, Big"
7,Institute for Financial Management and Resear,IFMR,Programme Manager,Chennai,Data Science
8,Balu Ramesh,Techvantage Systems Pvt Ltd,HR Administrator,Trivandrum,"Machine Learning, algorithms, Go Getter, Computer Science, spark, Big Data, hdfs, sql, cassandra, hadoop, python, scala, java, Data Science, Front End"
9,Asif Lucknowi,Weupskill- Live Wire India,Director,Indore,"Technical Training, Software Development, Presentation Skills, B.tech, M.tech, B.e., mca, msc, Computer Science, freshers, jobs in indore, Data Science, itil"
10,InstaFinancials,CBL Data Science Private Limited,Human Resource,Bengaluru / Bangalore,"Software Development, It Sales, Account Management, Data Analysis, Customer Service, Sr, Software Engineering, Mvc, Ajax, Asp.net, Html, C#, Javascript"
11,Kalpana Dumpala,Innominds Software,Executive Hiring,Hyderabad / Secunderabad,"Qa, Ui/ux, Java Developer, Java Architect, C++/qt, Php, Lamp, Api, J2ee, Java, Soa, Esb, Middleware, Bigdata Achitect, Hadoop Architect, Deep"
12,Mubarak,MoneyTap,Company HR,Bengaluru / Bangalore,"Business Intelligence, Data Warehousing, Data Science, Business Analytics, Customer Support, Business Reporting, Bi"
13,Kushal Rastogi,QuantMagnum Technologies Pvt. Ltd.,Company HR,Mumbai,"Office Administration, Hr Administration, telecalling, client relationship management, Client Acquisition, Sales, Reception, HR, Recruitment, Onboarding, Human"
14,Ruchi Dhote,Bristlecone India Ltd,Senior Executive Talent Acquisition,Nagpur,"Qlikview, Qlik Sense, Microsoft Azure, Power Bi, Data Science, Machine Learning"
15,Mahesh Babu Channa,SocialPrachar.com,HR Team Lead,Hyderabad / Secunderabad,"Social Media, digital media maketing, seo, smm, smo, sem, Content Wirting, social media marketing, social media manager, digital media marketing manager"
16,Kapil Devang,BISP Solutions,HR Manager,Bhopal,"Big Data, Hadoop, Data Analytics, Data Science"
17,Priya Khare,Independent Consultant,Senior Manager,Bengaluru / Bangalore,"Data Science, Artificial Intelligence, analytics, Business Intelligence, python, tableau, Power Bi, qlikview, sql, Data Warehousing, Data Visualization"
18,Manisha Yadav,Easi Tax,HR Executive,Navi Mumbai,"Telecalling, Client Interaction, Marketing, Research, Web Development, Social Media Marketing, Data Entry Operation, Excel, Ms Office, Invoicing"
19,Riya Rajesh,Novelworx Digital Solutions,Manager Talent Acquisition,Cochin,Data Science
20,Rashmi Bhattacharjee,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,HR Head,Delhi,"Corporate Sales, Software Development, Software Sales, Marketing, Creative Designing, Corporate Planning, Senior Management, Crm, Client Relationship"
21,Faizan Kareem,FirstTech Consaltants Pvt.Ltd,HR MANAGER,Hyderabad / Secunderabad,"Data Analytics, Data Science, Machine Learning, Deep Learning, Nlp, Data Mining, Python, R, Database Administration, Text Mining"
22,Rithika dadwal,Affine Analytics,HR Recruiter,Pune,"Data Science, Machine Learning, Python, R, Deep Learning, Big Data, Hadoop"
23,Azahar Shaikh,NEAL ANALYTICS SERVICES PVT LTD,Company Recruiter,Pune,"Data Science, Artificial Intelligence, Machine Learning, Data Analytics"
24,Sandhya Khandagale,Compumatrice Multimedia Pvt Ltd,HR Recruiter,Pune,"Big Data, Data Science, Artificial Intelligence, Hadoop, Ui Development, Php, Freelancing, .Net, Software Testing, Sap, Leadership Hiring"
25,Shaun Rao,Exela Technologies,Manager Human Resources,Pune,"Java, Net, Angularjs, Hr, Infrastructure, Management, Project Management, Business Analysis, Data Science, Information Technology, Technology"
26,Manas,Autumn Leaf Consulting Services Private...,Lead Talent acquisition,Bengaluru / Bangalore,"Software Architecture, Vp Engineering, Product Management, analytics, Data Science, Node.js, Principal Engineer, Big Data, python, angularjs, React.js"
27,kumar,trainin,Proprietor,Bengaluru / Bangalore,"Data Science, Hadoop, Rpas, Devops, Python, Aws, Teaching, Big Data"
28,Sunil Vedula,Nanoprecise Sci Corp,CEO,-,"Signal Processing, Machine Learning, Neural Networks, Data Science, Predictive Analytics, Time Series Analysis, Data Visualization, Technical Leadership, Data"
29,Rajat Kumar,R.S Consultancy &amp; Services,Founder CEO,Delhi,"Web Technologies, Project Management, Software Architecture, Data Science, Object Oriented Programming, Computer Science, Electrical Engineering, Architecture"
30,Dhruv Dev Dubey,Confidential,Company Recruitment Head,Bengaluru / Bangalore,"Server Administartion, Verilog, Vhdl, Digital Marketing, Market Research, Property Research, Legal, It And Non It Recruitment, Logistics, Supply Chain, Bfsi"
31,Radha Manivasagam,Techcovery,HR Executive,Bengaluru / Bangalore,"Python, Artificial Intelligence, Machine Learning, Data Science"
32,Jayanth N,"Dollarbird Information Services Pvt, Ltd",Project Manager,Mysoru / Mysore,"Data Analytics, Managed Services, Team Leading, python, Machine Learning, Google Analytics, Dmp, Aws, Campaign Analytics, Digital Campaigns, Audience"
33,Prateek Kumar,Trisect,Head,Noida,"Java, Python, Angularjs, Software Testing, Machine Learning, Data Science, Javascript, Django, React.js, Node.js, Augmented Reality, Virtual Reality, Advanced"
34,Amit Sharma,ASCO consulting,Consultant,New Delhi,"Machine Learning, Artificial Intelligence, Data Science, Software Engineering, Software Development, Graduate Engineer Trainee, Fresher, Data Analytics, Java"
35,Kanan,NY INST,senior technology instructor,Chennai,"C, C++, Artificial Intelligence, Python, Php, Web Development, Matlab, Data Science, Augmented Reality, C C++"
36,Shashikant Chaudhary,3D India Staffing Research &amp; Consulting...,HR Recruiter/HR Excutive,Aligarh,"Relationship Management, Retail Sales, Private Banking, Mutual Funds, NISM, Equity, Finance, Financial Products, Financial Services, Verbal, Written"
37,Brad,O.C. Tanner,"Manager, Technical Recruiting",Salt Lake City,"Data Science, Software Engineering"
38,Rutuja Pawar,Demand Matrix,Technical Recruiter,Pune,"Data Science, Big Data Analytics, Digital Marketing, Content Writing, Ui Development, Database Development, Qa Automation, Python, Project Management"
39,Madhusudhan Sridhar,MADHUSUDHAN SRIDHAR,Erp Implementer,Bengaluru / Bangalore,"Data Science, Recruitment, Salary"
40,Ankit Sinha,Suntech Global,Head Analytics,Mumbai,"B.Tech, Tableau, Statistics, R, Analytics, Time Series, Data Science, Business Solutions, SQL, Technical Skills, SSAS, SQL Server, Analysis Services, Qlikview"
41,Gaurav Chouhan,Strategic Consulting Lab,Chief Technical Officer,Indore,"Software Development, Business Intelligence, Big Data Analytics, Database Administration, Data Science, Microsoft Azure, Spark, Cassandra, Object Oriented"
42,Rashi Kacker,Impel Labs Pvt. Ltd.,Sr Product Manager,Bengaluru / Bangalore,"Data Science, Node.js, Angularjs"
43,Ashwini,MRP Advisers,Director Global Delivery,MYSORE,"Data Science, Media Marketing, Resource Planning, Managed Services, Display Advertising, Machine Learning, Python, Etl, Sql"
44,Balaji Kolli,Saras Solutions India Pvt Ltd,Co Founder,Hyderabad / Secunderabad,"Data Analysis, Learning, Data Science, Computer Science, Communication Skills"
45,Rajani Nagaraj,WildJasmine,HR Manager,Bengaluru / Bangalore,"Java, Hadoop, R, Machine Learning, Spark, Flume, Hdfs, Data Mining, Sas, Big, Data Science, Cloudera, Impala, Bigdata"
46,ROHIT Kumar,LNT Private Limited,Architect,Mumbai,"Software Development, Core Java, Unit Testing, Customer Experience, Problem Solving, Communication Skills, Mysql, Data Science, Sales Management, Analytics"
47,Amir Chowdhury,Granular.ai,Managing Partner,-,"Machine Learning, Data Science, Product Management, New Product, Data Analysis, Computer Vision, Deep Learning, Python, Remote Sensing"
48,SREEDHAR,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,Recruitment Consultant,Hyderabad / Secunderabad,"Data Science, Machine Learning, Big Data Analytics, Spark, Python, R, Networking, Network Engineering, Placement, Training, Sql, Marketing, Mainframes, All"
49,Shailja Mishra,Certybox Pvt.Ltd.,HR Manager,Noida,"consulting, Education Counseling, Educational Sales, Institutional Sales, pmp, Data Science, Business Development, Revenue Generation, Sales Achievement, new"

# Q8. Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
    
You have to find the following details:
    
A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [23]:
#Calling the Web Driver and loading the URL and target webpage
driver = webdriver.Chrome(r"C://Users//Aditya//Downloads//chromedriver.exe")
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/")
driver.maximize_window() #Maximize the Window

#Scrapping all the details of highest selling novels
details = [i.text for i in driver.find_elements_by_xpath("//table [@class ='in-article sortable']//tr/td")]
    
driver.close()

#Removing unwanted information
details.remove('SOURCE: NIELSEN BOOK SCAN')

#Creating Lists for required attributes
Book_name = []
Author_name = [] 
Volumes_sold = [] 
Publisher = []
Genre = []

#Extracting data from details list to required attributes' lists
j = 0
while j < len(details):
    j+=1
    Book_name.append(details[j])
    j+=1
    Author_name.append(details[j])
    j+=1
    Volumes_sold.append(details[j])
    j+=1
    Publisher.append(details[j])
    j+=1
    Genre.append(details[j])
    j+=1

In [24]:
#Creating the DataFrame
Highest_selling_Novels = pd.DataFrame({"Book name" : Book_name,
                          "Author name" : Author_name,
                          "Volumes sold" : Volumes_sold,
                          "Publisher" : Publisher,
                          "Genre": Genre})

Highest_selling_Novels

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the Love of a Family","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Q9. Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/
    
You have to find the following details:
    
A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [25]:
#Calling the Web Driver and loading the URL and target webpage
driver = webdriver.Chrome(r"C://Users//Aditya//Downloads//chromedriver.exe")
driver.get("https://www.imdb.com/list/ls095964455/")
driver.maximize_window() #Maximize the Window

time.sleep(3)

#Scraping the data and storing in required attributes' lists using List Comprehension
Name = [i.text for i in driver.find_elements_by_xpath("//h3 [@class ='lister-item-header']/a")]
    
Year_span = [i.text for i in driver.find_elements_by_xpath("//h3 [@class ='lister-item-header']/span[@class = 'lister-item-year text-muted unbold']")]
    
Genre = [i.text for i in driver.find_elements_by_xpath("//p [@class ='text-muted text-small']/span[@class = 'genre']")]
    
Run_time = [i.text for i in driver.find_elements_by_xpath("//p [@class ='text-muted text-small']/span[@class = 'runtime']")]
    
Ratings = [i.text for i in driver.find_elements_by_xpath("//div [@class ='ipl-rating-star small']/span[@class = 'ipl-rating-star__rating']")]
    
Votes = [i.text for i in driver.find_elements_by_xpath("//p [@class ='text-muted text-small']/span[@name = 'nv']")]
    
driver.close()

In [26]:
#Creating a Dataframe
Most_Watched_TV_Series= pd.DataFrame({ "Name" : Name,
                                  "Year_span" : Year_span,
                                      "Genre" : Genre,
                                   "Run_time" : Run_time,
                                     "Ratings": Ratings,
                                      "Votes" : Votes})

Most_Watched_TV_Series

,Name,Year_span,Genre,Run_time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,804,912"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"849,575"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"868,692"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"260,516"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"221,522"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,259"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"54,710"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"165,756"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.2,"34,624"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"188,571"

# Q10. Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/

You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the Show All Dataset page through code.

In [27]:
#Calling the Web Driver and loading the URL and target webpage
driver = webdriver.Chrome(r"C://Users//Aditya//Downloads//chromedriver.exe")
driver.get("https://www.imdb.com/list/ls095964455/")
driver.maximize_window() #Maximize the Window

time.sleep(3)

#Finding all Repository webpage.
repository = driver.find_element_by_xpath("//span [@class ='normal']/b/a")
repository.click()
    
#Scrapping all details into a list containing all details of repositories
details = [i.text for i in driver.find_elements_by_xpath("//table [@border ='1']/tbody/tr/td")]
del details[:7] #Removing the unwanted details.
    
driver.close() #Closing the Driver post scraping the details.
    
#Creating Lists for reuired attributes
Dataset_name = [] 
Data_type = [] 
Task = []  
Attribute_type = [] 
No_of_instances = [] 
No_of_attribute = [] 
Year = [] 

#Spliting all required data froms details list to attributes' lists
k= 0
while k < len(details):
    Dataset_name.append(details[k])
    k +=1

    Data_type.append(details[k])
    k +=1
    
    Task.append(details[k])
    k +=1
        
    Attribute_type.append(details[k])
    k +=1

    No_of_instances.append(details[k])
    k +=1
    
    No_of_attribute.append(details[k])
    k +=1

    Year.append(details[k])
    k +=1

In [29]:
#Creating a DataFrame   
Datasets = pd.DataFrame({"Dataset name" : Dataset_name,
                          "Data type" : Data_type,
                          "Task" : Task,
                          "Attribute_type" : Attribute_type,
                          "No of instances" : No_of_instances,
                          "No of attribute" : No_of_attribute,
                          "Year" : Year})

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,-
3,Anonymous Microsoft Web Data,-,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
5,Artificial Characters,Multivariate,Classification,"Categorical, Integer, Real",6000,7,1992
6,Audiology (Original),Multivariate,Classification,Categorical,226,-,1987
7,Audiology (Standardized),Multivariate,Classification,Categorical,226,69,1992
8,Auto MPG,Multivariate,Regression,"Categorical, Real",398,8,1993
9,Automobile,Multivariate,Regression,"Categorical, Integer, Real",205,26,1987
10,Badges,"Univariate, Text",Classification,-,294,1,1994
11,Balance Scale,Multivariate,Classification,Categorical,625,4,1994
12,Balloons,Multivariate,Classification,Categorical,16,4,-
13,Breast Cancer,Multivariate,Classification,Categorical,286,9,1988
14,Breast Cancer Wisconsin (Original),Multivariate,Classification,Integer,699,10,1992
15,Breast Cancer Wisconsin (Prognostic),Multivariate,"Classification, Regression",Real,198,34,1995
16,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,32,1995
17,Pittsburgh Bridges,Multivariate,Classification,"Categorical, Integer",108,13,1990
18,Car Evaluation,Multivariate,Classification,Categorical,1728,6,1997
19,Census Income,Multivariate,Classification,"Categorical, Integer",48842,14,1996